<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HarmonizedApp.Properties.Settings.ApplicationADPConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\alya\Pictures\TRAVAIL DE WAEL POUR ADP STREAMLINE\HARMONIZED REPORT\Application ADP 11-11-2015\WindowsFormsApplication1\bin\Debug\ApplicationADP.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="HarmonizedApp.Properties.Settings.ApplicationADPConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\ApplicationADP.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="A001" value="GROSSTONETA001" />
    <add key="A002" value="GROSSTONETA002" />
    <add key="A003" value="GROSSTONETA003" />
    <add key="A004" value="GROSSTONETA004" />
    <add key="A010" value="GROSSTONETA010" />
    <add key="A011" value="GROSSTONETA011" />
    <add key="A013" value="GROSSTONETA013" />
    <add key="A014" value="GROSSTONETA014" />
    <add key="A015" value="GROSSTONETA015" />
    <add key="A020" value="GROSSTONETA020" />
    <add key="A016" value="GROSSTONETA016" />
	<add key="A021" value="GROSSTONETA021" />
    <add key="server" value="WIN-8DLGR6TSDAN" />
    <add key="ALCATEL" value="A001ALCATEL" />
    <add key="SPB" value="A002SPB" />
    <add key="COATS03" value="A003COATSIND" />
    <add key="COATS04" value="A004COATSTR" />
    <add key="STREAM" value="A010STREAM" />
    <add key="REDKNEE" value="A011REDKNEE" />
    <add key="N2SP" value="A013N2SP" />
    <add key="SCOGAT" value="A014SCOGAT" />
    <add key="COCA" value="A015COCA" />
    <add key="TTPC" value="A020TTPC" />
    <add key="BG"  value="A016BGTUNISIA"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>